@import url('./variable.css'); 
*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);

} 
.container{
    background-color: var(--color-white);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%; 
    height: 86px;
    border-bottom: 1px solid rgb(238 238 238);
    z-index: 1000;

}
.spacebar input{
    width: 418px;
}
.logo img{
    margin: 65px 16px 145px -12px;
    height: 100px;
    width: 100%;
    padding: 5px;
}
.delivery{
        font-weight: 800;
        font-size: 18px;
}
.delhi{
    font-weight: 0px;
}


.search input{
    border: 0;
    outline: 0;
}
.search{
    border-radius: 10px;
    background-color: rgb(235, 243, 245);
    width: 38%;
    padding: 10px;
    gap: 10px;
    font-size: 18px;
    
    display: flex;
    border: 1px solid lightgrey;
    height: 47px;
    align-items: center;
     
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: lighter;
}
.mycart{
    background-color: forestgreen;
    padding: 15px;
    margin: 28px;
    border-radius: 10px;
}
.paan{
    
    margin-top: 100px;
}
.paan img{
    width: 1212px;
    margin-left: 32px;
}

.banner{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    position: relative;
    overflow: auto;
}
::-webkit-scrollbar{
    display: none;
}

.food-items{
    display: grid;
    grid-template-columns: repeat(10,10%);
}
.items-1{
    display: flex;
    align-items: center;
    overflow: auto;
}
.milk{
    display: flex;
    align-items: center;
}
.egg{
    line-height: 70px;
    font-weight: 600;
    font-size: x-large;
    padding-left: 10px;
    
}
#a{
    color: green;
    font-size: larger;
    padding-right: 17px;
    
}
.timer{
    display: flex;
    font-size: 10px;
    padding: 0px 10px;
    gap: 5px;
    margin-bottom: 10px;
}
.min{
    font-weight: 600;
}
.height{
    align-items: center;
    height: 260px;
}
.general{
    align-items: center;
    border-radius: 7px;
    margin: 0px 5px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    border: 1px solid lightgray;
    width: min-content;
}
.table{
    font-size: 12px;
    font-weight: 500;
}
.pieces{
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 10px;
    color: grey;
}
.number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.twoonenine{
    margin-right: 48px;
    font-size: 13px;
    font-weight: 500;
}
button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 16px;   
    font-weight: 500;
    font-size: 17px;
    color: green;
    border-radius: 5px;
    border-color: black;
    border: 1px solid black;
}
.rupee{
    font-size: 13px;
}
section{
    
    display: flex;
    overflow: auto;
}
.general .photo img{
    height: 100px;
    width: 100px;
}
.madeby{
    margin: 56px 483px;
}
.madeby svg{
    color: red;
}
.logo img{
    
    transform: translate(30px, 40px);
}

@media (min-width: 873px) and (max-width: 1226px){
    .nav{
        width: 80%;
    }
    .madeby{
        
    }
    .paan img{
        margin-left: 150px;
        width: 800px;
    }   
}
@media (min-width: 728px) and (max-width: 968px) {
    .paan img{
        width: 600px;
        margin-left: 80px;
    }
}
@media (min-width:400px) and (max-width:727px){
    .paan img{
        width: 500px;
    }
    
}
@media (min-width:0px) and (max-width:490px) {
    .paan img{
        margin-left: 40px;
        width: 350px;
        height: 150px;
    }
    .logo img{
        
        width: 50px;
        height: 40px;
        font-size: 40px;
        
    }
    .container{
       margin: 0px;
       padding: 0px;
        
    }
    .delivery{
        margin-right: 10px;
        font-size: 8px;
    }
    .delhi{
        font-size: 8px;
    }
    .search{
        margin: 0px;
        padding: 0px;
        
    }
    .spacebar input{
        width: 50px;
    }

}
@media (min-width:) and (max-width:480px) {
    .container{
        width: 595px;
    }
}

