nav {
    background-color:rgba(252, 175, 2, 1);
    display: flex;
    gap: 100px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    
    
}
nav > h1 {
    color:rgba(0, 0, 0, 1);
    font-size: 18px;

}
button{
    background: rgba(252, 175, 2, 1);

}
nav > div {
    
    gap: 80px;
}
section > h1 {
    padding: 20px;
    color:rgba(255, 255, 255, 1);
    ;
}
.paragraph{
    padding: 20px;
    width: 500px;
    color:rgba(255, 255, 255, 1);
    
}
.button{
    padding: 5px;
    margin: 20px;
    width: 120px;
    border-radius: 15px;
    position: absolute;
    top: 300px;
}
h2{
    padding: 20px;
    display: flex;
    margin-top: 20px;
    color:rgba(252, 175, 2, 1);
}
input{
   
    background-color: #1E1E1E;
    margin: 20px;
    border: 2px solid #FCAF02;
    border-radius: 8px;
    width: 1250px;
}

.submit{
    position: relative;
    left: 600px;
    background-color: #FCAF02;
    color: #1E1E1E;
    align-items: center;
    width: 100px;
}
.tab{
    border: 2px solid #FCAF02;
    padding: 20px;
    color: #FCAF02;
}
.foot{
   
    background-color: #FCAF02;
    color: #1E1E1E;
}