
.shaka{
    width: 500px;
    
    margin: 50px;
    position: absolute;
    color: aliceblue;
   
    border: 2px solid red;   
    
    background-color: aliceblue;
    
}
.img{
     width: 300px;
    
}

